.flex-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.productCard {
    background-color: white;
    box-shadow: 1px 4px 4px lightblue;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.productCard:hover {
    box-shadow: 1px 4px 4px rgb(58, 86, 95);
    transform: translateY(-25px);

}

.productImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}


.descriptionButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.descriptionButton:hover {
    background-color: #0056b3;
}


button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

button:hover {
    background-color: #218838;
}


.productCard p {
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}